* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';

    color: #2e2e2e;

    line-height: 1.4em;
}

.offer {
    padding: 11px;
    margin-bottom: 15px;

    font-size: 16px;

    display: flex;
    justify-content: center;
    text-align: center;

    background-color: #ffd741;
}

.icon {
    margin: 0 7px;
}

.button {
    font-size: medium;
    font-weight: bold;

    padding-top: 1px;
    margin: 0 10px;

    text-decoration: underline;
}

button {
    all: unset;
    cursor: pointer;
}

.offer-btn button {
    margin: 0 7px;
}

nav {
    margin: 11px 16px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    background-color: #f6f6f6;

    border-radius: 4px;
    border: 1px solid #cecece;
}

.logo {
    padding-left: 7px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;

    font-size: 16px;
}

.services a {
    text-decoration: none;
    color: #2e2e2e;
}

.download-btn {
    background-color: #ffd741;
    padding: 8px 15px;

    border-radius: 4px;
}

.btn {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.search i{
    padding-right: 10px;
}