* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: rgb(193, 235, 221);
}

.card {
    width: 250px;
    height: 350px;

    background-color: rgb(241, 236, 236);

    border-radius: 7px;

    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.img {
    display: flex;
    justify-content: center;
}

.img img {
    width: 230px;

    border-radius: 17px;

    padding: 10px;
}

.capsule {
    display: flex;
    gap: 10px;

    margin-left: 10px;

    font-size: 10px;
}

.capsule span {
    font-size: 12px;

    border-radius: 50px;
    background-color: rgb(218, 207, 207);
    padding: 1px 7px;
}

.capsule span:hover {
    background-color: rgb(186, 179, 179);
    cursor: pointer;
}

.info {
    margin: 10px
}

.info h2 {
    margin-bottom: 10px;
}

.info p {
    font-size: 14px;
    line-height: 1.3;
}